/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 9, 2019, 5:23:42 PM
    Author     : JosueSandovalSanchez
*/

.vj-destacados .card {
    height: 100%;
}

.col-md-3 {
    margin-bottom: 1rem;
}
.vj-destacados .card img{
    height: 350px;
    object-fit: cover;
}
